<html>

<head>
</head>

<body>
<div>
<strong><p>Enter the details of the Banner</p></strong>
</div>

    <form style="display:flex; text-align: center" action="" class="form">
        <div class="form-group">
            <label for=""><b>Name</b>></label>
            <input  [(ngModel)]='bannerDetailsData.name' name="name" type="text" class="form-control rounded-0"  required>
        </div>
        <br>
        <div class="form-group">
            <label for=""><b>Description</b></label>
            <input [(ngModel)]='bannerDetailsData.description' name="description" type="text" class="form-control rounded-0" required>
        </div>
        <br>
        <div class="form-group">
            <label for=""><b>Uniform Resource Locator</b></label>
            <input [(ngModel)]='bannerDetailsData.url' name="url" type="text" class="form-control rounded-0" required>
        </div>
        <br>
        <button (click)="registerBannerData()" type="button" class="btn btn-primary float-right">Register</button>    
    </form>

</body>

</html>