<html>

<head>
</head>

<body>

    <div>
    <b><strong><p style="position:relative;size: 100px;">The list of the banners retrieved:</p></strong></b>

    <div id="flex-display">
        <div *ngFor="let item of bannerDetails;let i = index">
            <div class="box">
                <div>
                    <img width="150px" breath="150px" src="{{item.url}}">
                </div>

                <div>
                    {{item.name}}
                </div>

                <button (click)="goToDetails(i)">See Details</button>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    </div>
    <div>
        <b><p>Wanna create your own banner?</p></b>
        <button (click)="goToDetailsCreation()">Click here</button>
    </div>    
</body>

</html>